
*.ini
*.log
AHK Scripts/Daily Drivers/MSR Stuff/Misc. MSR Scripts/Custom Window Groups/F8 Group.txt
AHK Scripts/Daily Drivers/MSR Stuff/Misc. MSR Scripts/Custom Window Groups/F10 Group.txt
AHK Scripts/Daily Drivers/MSR Stuff/Misc. MSR Scripts/Custom Window Groups/F7 Group.txt
AHK Scripts/Daily Drivers/MSR Stuff/Misc. MSR Scripts/Custom Window Groups/F6 Group.txt